version: "3"

services:
  ##########################
  ### SETUP SERVER CONTAINER
  ##########################
  server:
    # Tell docker what file to build the server from
    build:
      context: ./backend
      dockerfile: Dockerfile-dev
    # The ports to expose
    expose:
      - 4000
    # Environment variables
    environment:
      - MONGO_URL=${BACKEND_MONGO_URL}
      - MONGO_DATABASE=${BACKEND_MONGO_DATABASE}
      - MONGO_PARAMETERS=${BACKEND_MONGO_PARAMETERS}
      - MONGO_PORT=${BACKEND_MONGO_PORT}
      - MONGO_USERNAME=${BACKEND_MONGO_USERNAME}
      - PORT=${BACKEND_PORT}
      - JWT_SECRET=secretsecret
      - JWT_EXPIRY=30d
      - DEBUG=worker:*
      - MORGAN=combined
      - NODE_ENV=development
    # Port mapping
    ports:
      - 4000:4000
    # Volumes to mount
    volumes:
      - ./backend/src:/app/backend/src
    # Run command
    # Nodemon for hot reloading (-L flag required for polling in Docker)
    command: nodemon -L src/server.js
    # Connect to other containers
    links:
      - db
    # Restart action
    restart: always
  ##########################
  ### SETUP CLIENT CONTAINER
  ##########################
  client:
    build:
      context: ./frontend
      dockerfile: Dockerfile-dev
    environment:
      - REACT_APP_PORT=${REACT_APP_PORT}
      - REACT_APP_SERVER_URL=${REACT_APP_SERVER_URL}
    expose:
      - 3000
    ports:
      - 3000:3000
    volumes:
      - ./frontend/src:/app/frontend/src
      - ./frontend/public:/app/frontend/public
    links:
      - server
    command: npm run start
    restart: always
  ##########################
  ### SETUP DB CONTAINER
  ##########################
  db:
    image: mongo
    ports:
      - 27017:27017
    restart: always